In [1]:
import pandas as pd
import numpy as np

In [3]:
data=pd.DataFrame({'Question':["What is the helpline number?","What happened in Uttarakhand?","How many people are affected?","Which districts are the most flooded regions in uttarakhand?","In which district the glacier burst first?","Which mountian glacier broke off?"],'Answer':["1070 or 9557444486","glacier broke in","Around 100 to 200","Chamoli, Haridwar, Nainital, Pithoragarh, and Uttarkashi","Chamoli","A portion of Nanda Devi"]})

In [4]:
data

                                            Question                                             Answer
0                       What is the helpline number?                                 1070 or 9557444486
1                      What happened in Uttarakhand?                                   glacier broke in
2                      How many people are affected?                                  Around 100 to 200
3  Which districts are the most flooded regions i...  Chamoli, Haridwar, Nainital, Pithoragarh, and ...
4         In which district the glacier burst first?                                            Chamoli
5                  Which mountian glacier broke off?                            A portion of Nanda Devi

In [5]:
def getResults(questions, fn):
    def getResult(q):
        answer, score, prediction = fn(q)
        return [q, prediction, answer, score]
    return pd.DataFrame(list(map(getResult, questions)), columns=["Q", "Prediction", "A", "Score"])
test_data = [
    "Can anyone tell what is the helpline number of Uttarakhand Government?",
    "Can anyone tell what is the helpline number of Uttarakhand Government",
    "Is something happened in Uttarakhand?",
    "In which district the glacier burst first?",
    "Extemely flooded regions are?",
    "Where was glacier broke off",
]

In [6]:
import re
def getNaiveAnswer(q):
    row = data.loc[data['Question'].str.contains(re.sub(r"[^\w'\s)]+", "", q),case=False)]
    if len(row) > 0:
        return row["Answer"].values[0], 1, row["Question"].values[0]
    return "Sorry, I didn't get you.", 0, ""
getResults(test_data, getNaiveAnswer)

                                                   Q  ... Score
0  Can anyone tell what is the helpline number of...  ...     0
1  Can anyone tell what is the helpline number of...  ...     0
2              Is something happened in Uttarakhand?  ...     0
3         In which district the glacier burst first?  ...     1
4                      Extemely flooded regions are?  ...     0
5                        Where was glacier broke off  ...     0

[6 rows x 4 columns]

In [7]:
pip install python-Levenshtein

Collecting python-Levenshtein
  Downloading https://files.pythonhosted.org/packages/2a/dc/97f2b63ef0fa1fd78dcb7195aca577804f6b2b51e712516cc0e902a9a201/python-Levenshtein-0.12.2.tar.gz (50kB)
     |████████████████████████████████| 51kB 3.4MB/s
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from python-Levenshtein) (54.1.2)
Building wheels for collected packages: python-Levenshtein
  Building wheel for python-Levenshtein (setup.py) ... done
  Created wheel for python-Levenshtein: filename=python_Levenshtein-0.12.2-cp37-cp37m-linux_x86_64.whl size=149802 sha256=b77c3ef1aa73d48ba0eab93fc4ad35a32f4b5b5c07d9d36d435fd40b50bb675f
  Stored in directory: /root/.cache/pip/wheels/b3/26/73/4b48503bac73f01cf18e52cd250947049a7f339e940c5df8fc
Successfully built python-Levenshtein
Installing collected packages: python-Levenshtein
Successfully installed python-Levenshtein-0.12.2

In [8]:
from Levenshtein import ratio
def getApproximateAnswer(q):
    max_score = 0
    answer = ""
    prediction = ""
    for idx, row in data.iterrows():
        score = ratio(row["Question"], q)
        if score >= 0.9:
            return row["Answer"], score, row["Question"]
        elif score > max_score:
            max_score = score
            answer = row["Answer"]
            prediction = row["Question"]
    if max_score > 0.8:
        return answer, max_score, prediction
    return "Sorry, I didn't get you.", max_score, prediction
getResults(test_data, getApproximateAnswer)

                                                   Q  ...     Score
0  Can anyone tell what is the helpline number of...  ...  0.551020
1  Can anyone tell what is the helpline number of...  ...  0.536082
2              Is something happened in Uttarakhand?  ...  0.787879
3         In which district the glacier burst first?  ...  1.000000
4                      Extemely flooded regions are?  ...  0.516854
5                        Where was glacier broke off  ...  0.733333

[6 rows x 4 columns]

In [9]:
from Levenshtein import ratio
def getApproximateAnswer2(q):
    max_score = 0
    answer = ""
    prediction = ""
    for idx, row in data.iterrows():
        score = ratio(row["Question"], q)
        if score >= 0.9:
            return row["Answer"], score, row["Question"]
        elif score > max_score:
            max_score = score
            answer = row["Answer"]
            prediction = row["Question"]
    if max_score > 0.3:
        return answer, max_score, prediction
    return "Sorry, I didn't get you.", max_score, prediction
getResults(test_data, getApproximateAnswer2)

                                                   Q  ...     Score
0  Can anyone tell what is the helpline number of...  ...  0.551020
1  Can anyone tell what is the helpline number of...  ...  0.536082
2              Is something happened in Uttarakhand?  ...  0.787879
3         In which district the glacier burst first?  ...  1.000000
4                      Extemely flooded regions are?  ...  0.516854
5                        Where was glacier broke off  ...  0.733333

[6 rows x 4 columns]

In [12]:
ques=input()
print(getResults([ques],getApproximateAnswer2)['A'][0])

How many people got injured?
Around 100 to 200